@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

@import url('fonts.css');

@import url('reset.css');

body {
    font-family: "Inter", sans-serif;
}
.wrapper {
	overflow: clip;
	min-height: 100%;

	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
[class*="__container"] {
    max-width: 1230px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
[class*="--margin"] {
	margin-bottom: 30px;
}

/*======= Header ==========*/
header {
    background: linear-gradient(251deg, #b5aae5 12.87%, #7d67d3 89.33%);
    color: white;
}
header p {
    padding: 15px 25px;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
}

/*========== Meet ==============*/
.meet {
    padding: 61px 0 102px 0;
    background-color: #412672;
    color: #fff;
}
.meet__title {
    font-size: 38px;
    line-height: 1.21;
    margin-bottom: 31px;
}
.meet__title strong {
    display: block;
    font-weight: 700;
}
.meet__items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.meet__item {
    padding: 20px;
    background: #FFF;
    box-shadow: 0px 384px 108px 0px rgba(0, 0, 0, 0.00), 0px 246px 98px 0px rgba(0, 0, 0, 0.01), 0px 138px 83px 0px rgba(0, 0, 0, 0.05), 0px 62px 62px 0px rgba(0, 0, 0, 0.09), 0px 15px 34px 0px rgba(0, 0, 0, 0.10);

   
    flex-basis: 386px;

    /* flex: 0 1 calc(100% / 3 - ((20px * (3 - 1)) / 3)); */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    transition: background 0.3s;
}
.meet__item:hover {
    background: #FFBE48;
}
.meet__img {
    position: relative;
}
.meet__img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    transition: opacity 0.3s;
}
.meet__img:hover::before {
    opacity: 0.3;
}
.meet__img img {
    width: 100%;
    height: 266px;
}
.meet__item h3 {
    font-size: 22px;
    line-height: 1.22;
    color: #000;
}
.meet__item p {
    flex-grow: 1;
    color: #4F4F4F;
    line-height: 1.26;
}
.meet__link {
    color: #FE3F3F;
    position: relative;
}
.meet__link::after {
    content: "";
    width: 0px;
    height: 1px;
    background-color: #FE3F3F;
    position: absolute;
    bottom: 0px;
    left: 0;
    transition: width 0.3s;
}
.meet__link:hover::after {
    width: 100%;
}

/*========= Faculty ===============*/
.faculty {
    padding: 55px 0 72px 0;
    color: #412672;
}
.faculty__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.faculty__info {
    flex-basis: 518px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.faculty__title {
    font-size: 34px;
    line-height: 1.2;
}
.faculty__title strong {
    display: block;
    font-weight: 700;
}
.faculty__contant p {
    font-size: 22px;
    line-height: 1.22;
}
.faculty__list {
    padding: 13px 0;
    color: #4F4F4F;
}
.faculty__list li {
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: 20px;
    line-height: 1.45;
}
.faculty__list li::before {
    content: "";
    align-self: flex-start;
    background: url("../img/icons/check.svg") 0 0 / 100% no-repeat;
    flex-shrink: 0;
    width: 29px;
    height: 29px;
}
.faculty__list > li:not(:last-child) {
    margin-bottom: 21px;
}
.faculty__img {
    flex-basis: 764px;
    height: 521px;
    margin-right: -172px;
}
.faculty__img  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*========== Academy ===========*/
.academy {
    padding: 70px 0;
    background: #412672;
    font-size: 24px;
    color: #fff;
}
.academy__container>*:not(:last-child) {
    margin-bottom: 30px;
}
.academy__title {
    text-align: center;
    line-height: 1.2;
}
.academy__title strong {
    font-weight: 700;
}
.academy__list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
}
.academy__item {
    display: flex;
    align-items: center;
    gap: 10px;
}
.academy__img {
    flex-basis: 70px;
    height: 70px;
}
.academy__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.academy__text p strong {
    display: block;
    font-weight: 700;
    line-height: 1;
}
.academy__text p {
    text-align: center;
    font-size: 15px;
    line-height: 1.6;
}
/* ====== Footer ============ */
footer {
    color: #fff;
    background: linear-gradient(251deg, #b5aae5 12.87%, #7d67d3 89.33%);
    padding: 50px;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
}
footer a {
    padding: 15px 15px;
    border:2px solid #fff;
    border-radius: 10px;
}
footer a:hover {
    color: #7d67d3;
    background: #fff;
}