@import url('https://fonts.googleapis.com/css2?family=Carme:wght@400&display=swap');

@import url('fonts.css');

@import url('reset.css');

body {
    font-family: "Poppins", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.26;
	color: #1A1A1A;
}
.wrapper {
	overflow: clip;
	min-height: 100%;

	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
[class*="__container"] {
    max-width: 1350px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

/*======= Header ==========*/
header {
    background: linear-gradient(251deg, #00B207 12.87%, #5be260 89.33%);
    color: white;
}

header p {
    padding: 15px 25px;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
}

/*======= Featured-products ==========*/
.featured-products {
	padding-top: 60px;
}
.featured-products__block-header:not(:last-child){
	margin-bottom: 36px;
}
.block-header {
	display: flex;
	flex-direction: column;
	gap: 8px;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.block-header__label {
	color: #00B207;
	font-weight: 500;
	line-height: 1;
	letter-spacing: 0.28px;
	text-transform: uppercase;
}
.block-header__title {
	font-size: 36px;
	font-weight: 600;
	line-height: 1.2;
}
.products {
	display: grid;
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    gap: 20px;
    margin-bottom: 24px;
}
.sale-box {
	position: relative;
    aspect-ratio: 248 / 335;
    height: 100%;
    width: 100%;
    background-color: #83e17f73;
}
.sale-box__img {
	position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sale-box__content {
	display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    position: absolute;
    z-index: 3;
    top: 24px;
    width: 100%;
}
.sale-box__info {
	text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.sale-box__title {
	font-size: 12px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.36px;
    text-transform: uppercase;
}
.sale-box__label {
	color: #00B207;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.2;
}
.sale-box__button-shopnow {
	display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 43px;
    background-color: #ffffff;
    padding: 14px 32px;
    color: #00B207;
    font-weight: 600;
    line-height: 1.2;
    border: 2px solid transparent;
    transition: all 0.3s;
}
.sale-box__button-shopnow svg{
	transition: all 0.3s;
}
.item-card {
	position: relative;
    background: #FFF;
    display: flex;
    flex-direction: column;
	height: 100%;
    border: 1px solid #e6e6e6;
    transition: border-color 0.3s, box-shadow 0.3s;
}
.item-card::before,
.card-categories::before {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    z-index: 2;
    border: 1px solid #2C742F;
    box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.item-card__actions {
	position: absolute;
    top: 5.015674%;
	right: 6.060606%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.6s;
    z-index: 1;
}
.actions-product {
	display: flex;
    flex-direction: column;
    gap: 6px;
}
.actions-product__link,
.card-categories__action-btn {
    display: block;
    background-color: #fff;
    border: 1px solid #F2F2F2;
}
.item-card__image {
	width: 100%;
	aspect-ratio: 246 / 246;
    padding: 2px 2px 0 2px;
}
.item-card__image img {
	width: 100%;
    height: 100%;
    object-fit: contain;
	aspect-ratio: 1 / 1;
    will-change: transform;
    transition: transform 0.3s;
}
.item-card__body {
	padding: 12px 16px 16px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    flex-grow: 1;
}
.item-card__contant {
	height: 100%;
    display: flex;
    flex-direction: column;
	gap: 5px;
    flex-grow: 1;
}
.item-card__title {
	color: #4d4d4d;
    line-height: 1.5;
    flex-grow: 1;
}
.item-card__title a{
    transition: color 0.3s ease-in-out;
}
.item-card__price,
.card-categories__price {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
}
.item-card__rating,
.card-categories__rating {
	max-width: 60px;
    aspect-ratio: 60 / 12;
}
.item-card__rating img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.item-card__link,
.card-categories__button {
	display: flex;
    align-self: center;
    background-color: #f2f2f2;
}
.item-card__link, 
.actions-product__link,
.card-categories__button,
.card-categories__action-btn {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 50%;
    position: relative;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.item-card__link svg,
.actions-product__link svg,
.card-categories__button svg,
.card-categories__action-btn svg {
	position: absolute;
    top: 50%;
    left: 50%;
    stroke: #1A1A1A;
    transform: translate(-50%, -50%);
    transition: stroke 0.3s;
}

/*======= Featured-products__categories =======*/

.featured-products__categories {
	padding-top: 24px;
}
.categories {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
	gap: 24px;
	margin-bottom: 30px;
}
.categories__item {
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.categories__title {
	font-size: 18px;
	font-weight: 500;
	line-height: 1.5;
}
.card-categories {
	position: relative;
	display: flex;
	align-items: center;
	border: 1px solid #E6E6E6;
	background:  #FFF;
	gap: 10px;
	transition: border-color 0.3s, box-shadow 0.3s;
}
.card-categories__image {
	width: 100%;
    aspect-ratio: 1 / 1;
	flex: 0 0 102px;
    padding: 5px;
}
.card-categories__image img {
	width: 100%;
    height: 100%;
    object-fit: contain;
    will-change: transform;
    transition: transform 0.3s;
}
.card-categories__content {
	display: flex;
    flex-direction: column;
	gap: 5px;
    padding: 25px 12px;
    position: relative;
}
.card-categories__subtitle {
	line-height: 1.5;
	color: #4D4D4D;
}
.card-categories__price span {
	color: #999;
	font-weight: 400;
}
.card-categories__buttons {
	position: absolute;
	display: flex;
	gap: 12px;
    background-color: #FFF;
    left: 0;
    bottom: -62px;
    opacity: 0;
    padding: 5px 12px;
    transition: bottom 0.3s ease;
}
.sale-box--second {
	aspect-ratio: 312 / 423;
}
.sale-box__label--second,
.sale-box__label--second strong {
	font-size: 32px;
	line-height: 1.2;
	color: #1A1A1A;
}
.sale-box__label--second {
	padding: 0 15px;
}
.sale-box__label--second strong {
	font-weight: 600;
}
/*======== Blossomia ==========*/
.blossomia {
	font-family: 'KoPub Batang', serif;
    padding: 40px 0;
	font-size: 20px;
    background: #F8F3EC;
	color: #2C2C2C;
}
.blossomia__container {
	max-width: 1230px;
}
.blossomia__items {
	display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
    grid-auto-rows: 1fr;
    gap: 30px;
}
.blossomia__item:nth-child(1) {
    grid-column: span 2;
    align-self: center;
}
.blossomia__item:nth-child(2) {
    order: -1;
}
.blossomia__item:last-child {
    order: 7;
    grid-row: span 1;
    align-self: center;
}
.blossomia__title {
	font-size: 60px;
    font-weight: 300;
}
.product-blossomia {
	display: grid;
    gap: 15px;
    grid-template-columns: 1fr;
    grid-row: span 2;
}
.product-blossomia:has(.product-blossomia__aside) {
    grid-template-rows: 1fr auto;
}
.product-blossomia__aside {
	width: 100%;
    height: 100%;
    aspect-ratio: 401 / 427;
    background: #cecece;
    overflow: hidden;
}
.product-blossomia__link {
	width: 100%;
    height: 100%;
}
.product-blossomia__image {
	width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    will-change: transform;
}
.product-blossomia__info {
	display: grid;
    align-self: end;
    grid-template-columns: 1fr auto;
    grid-auto-rows: min-content;
    gap: 15px;
}
.product-blossomia__body {
	display: grid;
    justify-items: start;
    gap: 14px;
}
.product-blossomia__title {
	display: inline-grid;
}
.product-blossomia__title a {
	position: relative;
}
.product-blossomia__title a::after {
	content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 1px;
    width: 0%;
    background-color: #caa77d;
    transition: width 0.6s;
}
.product-blossomia__price {
	font-family: 'Carme', sans-serif;
    font-size: 18px;
    color: #4E4E4E;
}	
.product-blossomia__actions {
	display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: start;
    gap: 10px;
}
.product-blossomia__heart,
.product-blossomia__cart {
	display: grid;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    transition: background 0.3s ease, box-shadow 0.3s ease;
}
.blossomia__link {
	display: inline-grid;
    grid-template-columns: 1fr 23px;
    align-items: center;
    gap: 10px;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.38;
    padding: 19px 40px;
    border: 1px solid #DBCCBA;
    background: #DBCCBA;
    box-shadow: inset 0 0 0 10px #F8F3EC;
    transition: all 0.3s ease;
}
.blossomia__link::after {
    content: '';
    width: 23px;
    height: 14px;
    background: url(../img/icons/right-arrow_gray.svg) 0 0 / 100% no-repeat;
}
/* ============= Media ============= */
@media (min-width: 1200px) {
    .blossomia__items {
        gap: 20px;
        grid-template-columns: minmax(min(400px, 100%), 1fr) repeat(auto-fill, minmax(min(300px, 100%), 1fr));
    }
}
@media (max-width: 1200px) {
    .blossomia__title {
        font-size: 50px;
    }
    .product-blossomia__body {
        gap: 10px;
    }
}
@media (max-width: 991.98px) {
	.featured-products {
		padding-top: 40px;
	}
    .featured-products__block-header:not(:last-child){
		margin-bottom: 25px;
	}
	.block-header__title {
		font-size: 28px;
	}
	.categories {
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
        gap: 20px;
    }
	.blossomia__items {
        gap: 15px;
        grid-template-columns: repeat(auto-fill, minmax(min(248px, 100%), 1fr));
    }
    .blossomia__title {
        font-size: 45px;
        text-align: center;
    }
    .product-blossomia__body {
        gap: 5px;
    }
    .product-blossomia__actions {
        grid-template-columns: 1fr;
        position: relative;
        right: 2px;
    }
    .product-blossomia__heart {
        position: absolute;
        top: -49px;
        background: rgba(248, 243, 236, .8);
    }
}
@media (max-width: 767.98px) {
	.featured-products {
		padding-top: 20px;
	}
	.block-header__title {
		font-size: 26px;
	}
	.featured-products__categories {
		padding-top: 20px;
	}
}
@media (max-width: 804px) {
    .blossomia {
        padding: 15px 0;
    }
    .blossomia__items {
        grid-auto-rows: max-content;
    }
    .blossomia__item:nth-child(2) {
        order: 1;
    }
    .blossomia__title {
        font-size: 40px;
    }
}
@media (max-width: 687.98px) {
    .title-delight {
        font-size: 36px;
    }
    .product-delight__title,
    .product-delight__price {
        font-size: 17px;
        align-self: center;
    }
    .delight__link {
    padding: 10px 25px;
    box-shadow: inset 0 0 0 5px #F8F3EC;
    }
}
@media (max-width: 600px){
	.card-categories {
        justify-content: center;
        gap: 30px;
    }
}
@media (max-width: 540px) {
    .blossomia__items {
        grid-template-columns: 1fr;
    }
    .blossomia__item:nth-child(1) {
        grid-column: span 1;
    }
}
@media (max-width: 479.98px) {
    .featured-products__block-header:not(:last-child){
		margin-bottom: 15px;
	}
	.block-header__title {
		font-size: 24px;
	}
}
@media (min-wdth: 460px) {
	.products {
		grid-auto-rows: 1fr;
	}
}
@media (max-width: 350.98px) {
    .card-categories {
        justify-content: flex-start;
        gap: 10px;
    }
}

/*======== Focus-visible ============*/
.item-card__image:focus-visible,
.item-card__title a:focus-visible,
.item-card__bag:focus-visible,
.item-card__link:focus-visible,
.actions-product__link:focus-visible,
.sale-box__button-shopnow:focus-visible,
.card-categories__image:focus-visible,
.card-categories__subtitle a:focus-visible {
	outline: 1px solid #00B207;
	z-index: 4;
}

.item-card__bag:focus-visible{
	outline: 2px solid #2C742F;
	z-index: 4;
}

.item-card__title a:focus-visible {
	outline-offset: 3px;
}

/* ============= Hover ============= */
@media (any-hover: none), (pointer: coarse) { 
	.item-card__actions {
		opacity: 1;
		visibility: visible;
	}
	.item-card__link,
	.actions-product__link:active {
		background-color: #00B207;
	}
	.actions-product__link:active {
		border: 1px solid #00B207;
	}
	.actions-product__link:active svg ,
	.item-card__link svg {
		stroke: #fff;
	}
	.item-card__link:active{
		background-color: #2c742f;
	}
	.item-card__title a:active {
		color: #2c742f;
	}
	.card-categories__buttons {
        position: relative;
        opacity: 1;
        bottom: 0;
        justify-content: space-between;
        padding: 5px 0;
	}
}

@media (any-hover: hover), (pointer: fine) {
	.sale-box__button-shopnow:hover {
		border: 1px solid #00B207;
	}
	.sale-box__button-shopnow:hover svg {
		transform: translatex(10px);
	}
	.item-card:hover::before,
	.card-categories:hover::before {
		opacity: 1;
	}
	.item-card:hover .item-card__actions {
		opacity: 1;
		visibility: visible;
	}
	.actions-product__link:hover {
		border: 1px solid #00B207;
	}
	.item-card img:hover,
	.card-categories__image img:hover {
		transform: scale(1.03);
	}
	.item-card__title a:hover {
		color: #2c742f;
	}
	.card-categories:hover .card-categories__buttons{
		opacity: 1;
        bottom: 15px;
	}	
	.item-card:hover .item-card__link,
	.actions-product__link:hover,
	.card-categories:hover .card-categories__button,
	.card-categories__action-btn:hover {
		background-color: #00B207;
	}
	.card-categories:hover .card-categories__subtitle {
		color: #00B207;
	}
	.item-card:hover .item-card__link svg,
	.actions-product__link:hover svg,
	.card-categories:hover .card-categories__button svg,
	.card-categories__button:hover svg,
	.card-categories__action-btn:hover svg {
		stroke: #fff;
	}
	.item-card:hover .item-card__link:hover,
	.card-categories:hover .card-categories__button:hover {
		background-color: #2C742F;
	}
	.product-blossomia:hover .product-blossomia__image {
        transform: scale(1.05);
    }
    .product-blossomia__heart:hover,
    .product-blossomia__cart:hover{
        background: #DBCCBA;
        box-shadow: inset 0 0 0 1px #DBCCBA, inset 0 0 0 3px #F8F3EC;
    }
    .product-blossomia__title a:hover::after {
		width: 100%;
    }
	.blossomia__link:hover {
		background: #F8F3EC;
		box-shadow: inset 0 0 0 10px #DBCCBA;
		border-color: #2C2C2C;
	} 
}

/* ====== Footer ============ */
footer {
    color: #fff;
    background: linear-gradient(251deg, #b49978 12.87%, #DBCCBA 89.33%);
    padding: 50px;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
}
footer a {
    padding: 15px 15px;
    border:2px solid #fff;
    border-radius: 10px;
	position: relative;
}
footer a:hover {
    color: #b49978 ;
    background: #fff;
}
footer a:focus-visible{
	outline: 2px solid #b49978 ;
	z-index: 4;
}