@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

@import url('fonts.css');

@import url('reset.css');

body {
    font-family: "Montserrat", sans-serif;
}
.wrapper {
    overflow: clip;
    min-height: 100%;
}
[class*="-container"] {
    max-width: 1302px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
header {
    background: linear-gradient(251deg, #b5aae5 12.87%, #7d67d3 89.33%);
    color:white;
    margin-bottom: 50px;
}
 header p {
    padding: 30px;
    font-size: 42px;
    font-weight: 700;
    text-align: center;
 }

/* ========Section Meet===================== */

.meet {
    font-family: "Inter", sans-serif;
    padding: 61px 0 102px 0;
    background-color: #412672;
    color: #fff;
}
.meet-container {
    max-width: 1230px;
}
.meet-title {
    font-size: 38px;
    line-height: 1.21;
    margin-bottom: 31px;
}
.meet-title strong {
    display: block;
    font-size: 38px;
    font-weight: 700;
}
.meet-items {
    font-size: 0;
    margin: 0 -10px;
}
.meet-item {
    display: inline-block;
    width: 33.33%;
    padding: 0 10px 20px;
    vertical-align: top;
    font-size: 15px;
}
.meet-content {
    min-height: 476px;
    padding: 20px;
    background: #FFF;
    box-shadow: 
     0px 384px 108px 0px rgba(0, 0, 0, 0.00),
     0px 246px 98px 0px rgba(0, 0, 0, 0.01), 
     0px 138px 83px 0px rgba(0, 0, 0, 0.05), 
     0px 62px 62px 0px rgba(0, 0, 0, 0.09), 
     0px 15px 34px 0px rgba(0, 0, 0, 0.10);
}
.meet-content > *:not(:last-child) {
    margin-bottom: 16px;
}
.meet-content:hover {
    background: #FFBE48;
}
.meet-img {
    height: 266px;
    width: 100%;
}
.meet-subtitle {
    font-size: 22px;
    line-height: 1.22;
    color: #000;
}
.meet-text {
    color: #4F4F4F;
    line-height: 1.26;
}
.meet-link {
    color: #FE3F3F;
    line-height: 1.26;
}
.meet-link:hover {
    text-decoration: underline;
}

 /* ========Section Faculty===================== */
.faculty {
    font-family: "Inter", sans-serif;
    padding: 45px 0;
    color: #412672;
}
.faculty-container {
    max-width: 571px;
}
.faculty-wrapper > *:not(:last-child) {
    margin-bottom: 20px;
}
.faculty-title {
    font-size: 34px;
    line-height: 1.2;
}
.faculty-title strong {
    font-weight: 700;
}
.faculty-contant {
    font-size: 22px;
    line-height: 1.22;
}
.faculty-list {
    color: #4F4F4F;
}
.faculty-list > li:not(:last-child) {
    margin-bottom: 21px;
}
.faculty-list li::before {
    content: "";
    background: url("../img/icons/check.svg") 0 0 / 100% no-repeat;
    width: 29px;
    height: 29px;
    vertical-align: middle;
    margin-right: 15px;
}

/* ==========Section Game===================== */
.game {
    padding: 45px 0;
    color: #412672;
}
.game-container {
    max-width: 1230px;
}
.game-title {
    font-size: 32px;
    margin-bottom: 20px;
}
.game-body {
    width: 700px;
}
.level {
    padding: 10px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    border-radius: 10px;
    background-color: #836ed8;
}
.level-0 {
    position: relative;
    width: 90px;
    height: 40px;
    font-size: 18px;
    background: #412672; 
}
.level-1 {
    width: 180px;
    height: 30px;
    margin-left: 70px;
    margin-top: -40px;
    visibility: hidden;
}
.game-body>*:hover + *, 
.game-body>*:hover {
    visibility: visible;
}
.level-2 {
    width: 20px;
    height: 150px;
    margin-left: 230px;
    margin-top: -20px;
    visibility:hidden;
}
.level-3 {
    width: 130px;
    height: 30px;
    margin-left: 230px;
    margin-top: -30px;
    visibility: hidden;
}
.level-4 {
    width: 25px;
    height: 180px;
    margin-left: 340px;
    margin-top: -30px;
    visibility: hidden;
}
.level-5 {
    width: 170px;
    height: 5px;
    margin-left: 350px;
    margin-top: -20px;
    visibility: hidden;
}
.level-6 {
    width: 7px;
    height: 130px;
    margin-left: 500px;
    margin-top: -20px;
    visibility: hidden;
}
.level-7 {
    width: 70px;
    height: 70px;
    margin-left: 450px;
    margin-top: -15px;
    visibility: hidden;
}
.level-8 {
    width: 280px;
    height: 20px;
    margin-left: 190px;
    margin-top: -20px;
    visibility: hidden;
}
.level-9 {
    width: 20px;
    height: 120px;
    margin-left: 190px;
    margin-top: -20px;
    visibility: hidden;
}
.level-10 {
    width: 150px;
    height: 50px;
    font-size: 18px;
    margin-left: 190px;
    margin-top: -15px;
    visibility: hidden;
}
.level-10:hover {
    font-weight: 700;
    background: #fff;
    border: 3px solid #553caf;
    color:#553caf;
}
/* ======Footer================== */
footer {
    color: #fff;
    background: linear-gradient(251deg, #b5aae5 12.87%, #7d67d3 89.33%);
}
footer p {
    padding: 15px 25px;
    font-size: 42px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
}
